/**/
@import "./themes/onedark.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

  font-family:
    FiraSans,
    Hack Nerd Font,
    FontAwesome;
  font-family:
    FiraSans,
    Hack Nerd Font,
    FontAwesome;
  font-size: 13px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: alpha(@base, 0);
  /* color: #ffffff; */
  border-bottom: 0px solid #ffffff;
  color: @textcolor1;
  transition-property: background-color;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  transition-duration: 0.5s;
}

/* Modules */
.modules-right {
  background-color: alpha(@background, 0.4);
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background-color: alpha(@backgrounddark, 0.0);
  margin: 0px 2px 0px 0px;
  padding: 0px 2px 0px 2px;
  border-radius: 0px;
}
/* workspaces button applies to inactive */
#workspaces button {
  background-color: alpha(@workspacesbackground2, 0.0);
  color: alpha(@textcolor2, 0.5);
  padding: 0px 5px;
  margin: 0px 3px 0px 3px;
  border-radius: 0px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: alpha(@workspacesbackground1, 0.0);
  color: alpha(@textcolor2, 1);
  border-radius: 0px;
  /* min-width: 20px; */
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @backgroundlight;
  color: @textcolor1;
  border-radius: 0px;
  opacity: 1;
}

/* -----------------------------------------------------
* Clock Centre
* 
* ----------------------------------------------------- */

#clock {
  padding: 0px 5px 0px 5px;
  background-color: alpha(@workspacesbackground1, 0);
  color: alpha(@textcolor2, 1);
  min-width: 50px;
  margin: 0px 4px 0px 10px;
  border-radius: 0px;
}

/* -----------------------------------------------------
* Hardware Group
* use waybar - l debug to get classes from console
* ----------------------------------------------------- */

#performance {
  background-color: alpha(@background, 0.4);
  margin: 0px 3px;
  color: alpha(@textcolor2, 0.8);
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
}

#cpu,
#memory {
  padding: 0px 10px 0px 5px;
}
/* -----------------------------------------------------
* coreutils Group
* use waybar - l debug to get classes from console
* ----------------------------------------------------- */
#coreutils {
  background-color: alpha(@background, 0.3);
  color: @iconcolor;
  margin: 0px 3px;
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
}
/* -----------------------------------------------------
* Individual modules
* 
* ----------------------------------------------------- */

#backlight {
  padding: 0px 5px 0px 5px;
}
#battery {
  padding: 0px 10px 0px 5px;
}
#battery.charging,
#battery.plugged {
  color: @highlight3;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @highlight2;
  }
}

#battery.critical:not(.charging) {
  color: @highlight1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  color: @textcolor2;
  padding: 0px 10px 0px 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 10;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

label:focus {
  background-color: #000000;
}
